# ----------------------
# Flask
# ----------------------
flask==2.2.2
Flask-WTF
Flask-SQLAlchemy
flask-sqlalchemy==3.0.2
Flask-Migrate
Flask-Login
psycopg2
python-dotenv
pandas
numpy
nltk
pandas
unidecode
Word2Vec
email_validator
Flask-Session 
autocorrect
tkinter
pyspellchecker
sklearn
gensim

# ----------------------
# Production Server
# ----------------------
gunicorn
