# ----------------------
# Flask
# ----------------------
flask==2.2.2
Flask-WTF
Flask-SQLAlchemy
flask-sqlalchemy==3.0.2
Flask-Migrate
Flask-Login
psycopg2
python-dotenv
numpy
nltk
pandas
unidecode
Word2Vec
email_validator

# ----------------------
# Production Server
# ----------------------
gunicorn
