body {
    padding-top: 5rem;
}

.categorielist{
    -moz-column-count: 5;
    -moz-column-gap: 10px;
    -webkit-column-count: 5;
    -webkit-column-gap: 10px;
    column-count: 5;
    column-gap: 10px;
    text-size-adjust: 70%;
    line-height: 0.8;
    background-color: black;
    color: #fff;
}


.ingrelist{
  -moz-column-count: 5;
  -moz-column-gap: 10px;
  -webkit-column-count: 5;
  -webkit-column-gap: 10px;
  column-count: 5;
  column-gap: 10px;
  text-size-adjust: 70%;
  line-height: 0.8;
  background-color: rgb(46, 23, 255);
  color: #fff;
  padding: 10px 0;
  border-radius: 3px;
}

.catlist{
  -moz-column-count: 5;
  -moz-column-gap: 10px;
  -webkit-column-count: 5;
  -webkit-column-gap: 10px;
  column-count: 5;
  column-gap: 10px;
  text-size-adjust: 70%;
  line-height: 0.8;
  background-color: rgb(34, 204, 0);
  color: #fff;
  padding: 10px 0;
  border-radius: 3px;
}

.tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tip .tiptext {
    visibility: hidden;
    width: 1080px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
  
    /* Position the tip */
    position: absolute;
    z-index: 1;
  }
  
.tip:hover .tiptext {
    visibility: visible;
}

.box{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px 5px 0 0;
  padding: 8px 17px;
}

.conatinerl{
  padding: 2px 16px;
}

ol.list-group{
  text-size-adjust: 70%;
}