{% extends "base.html" %}

{% block main %}
  
    <h1> Secure Page</h1>
    {% include 'flash_messages.html' %}
    <p>This is a paragraph for.
        I checked in for the night at Out O The Way motel. What a bad 
        choice that was. First I took a shower and a spider crawled out 
        of the drain. Next, the towel rack fell down when I reached for 
        the one small bath towel. This allowed the towel to fall halfway 
        nto the toilet. I tried to watch a movie, but the remote control 
        was sticky and wouldnt stop scrolling through the channels. I gave
        up for the night and crawled into bed. I stretched out my leg and 
        felt something furry by my foot. Filled with fear, I reached down 
        and to my surprise, I pulled out a raccoon skin pair of underwear. 
        After my initial relief that it wasnt alive, the image of a fat, 
        ugly businessman wearing raccoon skin briefs filled my brain. 
        I jumped out of the bed, threw my toothbrush into my bag, and 
        sprinted towards my car.
    </p>
{% endblock %}
